/* HEADER style*/
body,
html {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}

.header {
  min-height: 950px;
  padding-top: 20px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(60, 60, 60, 0.7)), to(rgba(60, 60, 60, 0.7))), url("/img/header/header-bg.png");
  background: linear-gradient(0deg, rgba(60, 60, 60, 0.7), rgba(60, 60, 60, 0.7)), url("/img/header/header-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.header-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 245px;
}

.header-nav .nav-list {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation: slide-left 0.5s linear both;
          animation: slide-left 0.5s linear both;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.header-nav .nav-list__item {
  margin-right: 50px;
}

.header-nav .nav-list__item:last-child {
  margin-right: 0;
}

.header-nav .nav-list__link {
  color: #ffffff;
}

.header-nav .basket-list {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation: slide-left 0.5s linear both;
          animation: slide-left 0.5s linear both;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}

.header-nav .basket-list__link {
  color: #ffffff;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.header-nav .navbar-toggler__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  content: '';
  background: url("/img/icons/css_sprites.png") no-repeat 0 0;
}

.header-nav .navbar-toggler__icon--close {
  background: url("/img/icons/css_sprites.png") no-repeat -64px 0;
}

.header-nav .navbar-toggler__icon:hover {
  opacity: 0.7;
  background: url("/img/icons/css_sprites.png") -32px 0;
}

.header-nav .navbar-toggler__icon--close:hover {
  opacity: 0.7;
  background: url("/img/icons/css_sprites.png") -96px 0;
}

.header__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: 'OldStandardTT', sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
}

.header__subtitle {
  margin: 0;
  padding: 0;
  letter-spacing: 1.68px;
  color: #c2c1c1;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
}

.header__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  border: none;
  background-color: transparent;
}

@media (max-width: 991.98px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 164px;
  }
  .header-nav .nav-list {
    display: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav .basket-list {
    display: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-nav .nav-list__item {
    margin-right: 0;
  }
  .header-nav .nav-menu--show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btn {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .header-nav {
    margin-bottom: 50px;
  }
  .header-nav .nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-nav .basket-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header {
    min-height: 650px;
  }
  .header .header__title {
    font-size: 42px;
    line-height: 62px;
  }
  .header .header__subtitle {
    font-size: 18px;
    line-height: 32px;
  }
}
