// Variables

$white: #ffffff;
$pinkish-grey: #c2c1c1;
$greyish-brown: #3c3c3c;
$brownish-grey: #6a6a6a;
$dark: #1f2835;
$very-light-pink: #e8e8e8;
$very-light-pink-two: #e6e6e6;
$brown-grey: #818181;
$very-light-pink-three: #dadada;